[core]
	editor = vim
[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
	unstage = reset HEAD --
	append = !git add -A && git commit --amend --no-edit
	format = clang-format
	last = log -1 HEAD
	view = log --pretty=tabular --graph --all --date-order
[pretty]
	tabular = format:%>|(22,trunc)%C(auto,yellow)%h %C(auto,reset)%<(52,trunc)%s %C(auto,green)%<(15,trunc)%aN %>(13,trunc)%C(auto,blue)%ar%C(auto,red)%gd%d
[push]
	default = simple
[diff]
	tool = meld
[difftool]
	prompt = false
[difftool "meld"]
	cmd = meld "$LOCAL" "$REMOTE"
[merge]
	tool = meld
	conflictstyle = diff3
[mergetool]
	prompt = false
[mergetool "meld"]
	cmd = meld "$LOCAL" "$BASE" "$REMOTE" --output "$MERGED"
[status]
	submodulesummary = 1
[credential]
	helper = /usr/lib/git-core/git-credential-gnome-keyring
