[alias]
	append = !git add -A && git commit --amend --no-edit
	br = branch
	ci = commit
	co = checkout
	format = clang-format
	last = log -1 HEAD
	rprune = "!f() { git fetch -p && git branch --list --format \"%(if:equals=[gone])%(upstream:track)%(then)%(refname:short)%(end)\" | xargs --no-run-if-empty git branch -d; }; f"
	st = status
	unstage = reset HEAD --
	view = log --pretty=tabular --graph --all --date-order
[core]
	editor = vim
[credential]
	helper = /usr/lib/git-core/git-credential-libsecret
[diff]
	tool = meld
[difftool]
	prompt = false
[difftool "meld"]
	cmd = meld "$LOCAL" "$REMOTE"
[merge]
	conflictstyle = diff3
	tool = meld
[mergetool]
	prompt = false
[mergetool "meld"]
	cmd = meld "$LOCAL" "$BASE" "$REMOTE" --output "$MERGED"
[pretty]
	tabular = format:%>|(22,trunc)%C(auto,yellow)%h %C(auto,reset)%<(52,trunc)%s %C(auto,green)%<(15,trunc)%aN %>(13,trunc)%C(auto,blue)%ar%C(auto,red)%gd%d
[push]
	default = simple
[status]
	submodulesummary = 1
