[core]
	editor = vim
[credential]
	helper = /usr/lib/git-core/git-credential-gnome-keyring
[push]
	default = simple
[diff]
	tool = meld
[difftool]
	prompt = false
[difftool "meld"]
	cmd = meld "$LOCAL" "$REMOTE"
[merge]
	tool = meld
	conflictstyle = diff3
[mergetool]
	prompt = false
[mergetool "meld"]
	cmd = meld "$LOCAL" "$BASE" "$REMOTE" --output "$MERGED"
[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
	unstage = reset HEAD --
	last = log -1 HEAD
	format = clang-format
	view = log --pretty=myoneline --graph  --all --date-order
[pretty]
	myoneline = format:%C(auto,yellow)%h%C(auto,magenta)% G? %C(auto,blue)%>(26,trunc)%ai %C(auto,green)%<(16,trunc)%aN%C(auto,red)%gd%d%C(auto,reset)% s
[status]
	submodulesummary = 1
